{{!-- Tabla de productos --}}
{{#if products.length}}
<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color:white">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each products}}
        <tr>
            <td class="align-middle">
                {{this.title}}
            </td>
            <td class="align-middle">
                $ {{this.price}}
            </td>
            <td class="align-middle">
                <img src="{{this.thumbnail}}" width="80">
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{else}}
<h3 class="alert alert-warning">No se encontraron productos.</h3>
{{/if}}