{{!-- Tabla de mensajes --}}
{{#each messages}}
<div>
    <strong style="color: blue">{{this.author.id}}</strong>
    <span style="color: brown">{{this.date}}</span>:
    <em style="color: green">{{this.text}}</em>
    <img src="{{this.author.avatar}}" width="35">
</div>
{{/each}}