<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Jumbotron CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>ecommerce</title>
    <!-- Socket.io CLIENTE -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- CDN Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <!-- Favicons -->
    <link href="/public/img/favicon.png" rel="icon">
</head>

<body class="bg-info p-3" id="inicio">

    <div>
        <h1 class="text-white "> <img src="img/logomlm.png " width="60">
            MLM App E-commerce</h1>

    </div>
    {{{body}}}

</body>

<footer>
    <p class="text-center text-white-50">Copyright 2022 - CoderHouse - Backend - Marcelo Luis Moreno</p>
</footer>


</html>