{{!-- Tabla de mensajes --}}
{{#each messages}}
<div>
    <strong style="color: blue">{{this.mail}}</strong>
    <span style="color: brown">{{this.date}}</span>:
    <em style="color: green">{{this.text}}</em>
    <img src="{{this.avatar}}" width="40">
</div>
{{/each}}