<!-- Logout -->
<div class="container">
    <div class="jumbotron ">
        <h1 style="color: blue">Hasta luego {{nombre}}</h1>
    </div>
</div>
<script>
    setTimeout(() => {
        location.href = '/'
    }, 3000)
</script>