<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(199, 32, 14); color: white;">
        <h1>Usuario ya registrado</h1>

        <button class="btn btn-warning my-5" onclick="location.href = '/'">VOLVER</button>
    </div>
</div>