<h1 style="color: blue;">Ingrese Producto</h1>
<br>

<form action='/productos/' method="post">

    <div class="form-group">
        <label for="name"><b>Nombre</b></label>
        <input id="name" class="form-control" type="text" name="name" required="required">
    </div>

    <div class="form-group">
        <label for="price"><b>Precio</b></label>
        <input id="price" class="form-control" type="number" step="0.01" name="price" required="required">
    </div>

    <div class="form-group">
        <label for="thumbnail"><b>Foto URL</b></label>
        <input id="thumbnail" class="form-control" type="url" name="thumbnail" required="required">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>

</form>

<a class="btn btn-primary" href="/productos" role="button">Vista de Productos</a>