<!-- Logout -->
<div class="container my-5">
    <div class="jumbotron ">
        <h1 style="color: blue">Hasta luego {{email}}</h1>
    </div>
</div>
<script>
    setTimeout(() => {
        location.href = '/logout'
    }, 3000)
</script>