<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Jumbotron CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>ecommerce</title>

</head>

<body class="p-5">

    <!-- Logout -->
    <div class="container">
        <div class="jumbotron ">
            <h1 style="color: blue">Hasta luego  <%=nombre%></h1>
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 3000)
    </script>


</body>

<footer>
    <br /><br />
    <p class="text-center text-muted">Copyright 2022 - CoderHouse - Marcelo Luis Moreno</p>
</footer>

<script src="js/main.js"></script>


</html>